@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 237, 237, 237;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar minimalista (Opcional) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #222; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
